.category {
    font-size: .6em;
    font-weight: bold;
    position: relative;
    text-transform: none;
    z-index: 2;
}

.category:after {
    background-color: rgb(247, 250, 19);
    content: '';
    height: 10px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
  }

.hide {
    display: none;
}

.meta {
    margin: 0;
    text-align: right;
}

.metadata {
    color: #7c7c7a;
    font-size: .7125em;
    margin: .375em 0 3em;
}

.post {
    font-size: .85em;
    margin-top: 3em;
    max-width: 800px;
}

.postTitle {
    margin-bottom: 0;
}

.postWrap {
    margin-bottom: 3em;;
}

.sync {
    display: block;
}

.syncWrap {
    border-bottom: double;
    border-top: double;
    border-color: #bbb;
    display: flex;
    font-size: .7125em;
    justify-content: space-between;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

