.metadata {
    color: #7c7c7a;
    font-size: .7125em;
    margin: .375em 0 3em;
}

.post {
    font-size: .85em;
    margin-bottom: 3em;
    max-width: 800px;
}

.postTitle {
    margin-bottom: 0;
}

.tags {
    margin: 0 .5em;
}

.tags:before {
    display: inline-block;
    content: '/';
    font-weight: bold;
    margin-right: .5em;
}