.wrap {
    border-top: 1px solid #bbb;
    color: #7c7c7a;
    display: flex;
    font-size: .75em;
    justify-content: space-between;
    padding-top: 1.5em;
}

.copy {
    margin: 0;
}

.date {
    display: block;
}

.hey {
    margin: 0;
}