*, 
:after, 
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

html {
  /* https://css-tricks.com/simplified-fluid-typography/ */
  font-size: 16px;
  font-size: min(max(1rem, 4vw), 22px);
}

body {
  border-top: 4px solid #1c7cbb;
  color: #000;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 800px) {
  body {
    padding: 3em;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 4em;
  }
}

a:link {
  color: #1c7cbb;
  text-decoration: underline;
}

a[href] {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #1978D2;
}

a:hover {
  color: #1978D2;
  text-decoration: none;
}

blockquote {
  border-left: 4px solid #bbb;
  padding: .15em 0 .15em 1.5em;
  margin: 1.25rem 0 1.5rem;
}

blockquote :last-child {
  font-family: Georgia, serif;
  font-style: italic;
  margin-bottom: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-bottom: .25em;
}

strong {
  font-weight: bold;
}

p,
ol,
ul {
  margin-bottom: 1.5em;
}


h1 {
  font-size: 1.75em;
  line-height: 1.125;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.25em;
  margin-top: 1.5em;
  margin-bottom: .5em;
  position: relative;
}

h3 {
  font-size: 1em;
  margin-bottom: .5em
}

header {
  margin-bottom: 1.5em;
}

main {
  max-width: 45em;
}

pre {
  background: #f5f2f0;
  color: #000;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: .8em;
  margin: 1.5em 0;
  padding: 1em;
  text-shadow: 0 1px white;
  white-space: pre-wrap;
}
