*, 
:after, 
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

html {
  /* https://css-tricks.com/simplified-fluid-typography/ */
  font-size: 16px;
  font-size: min(max(1rem, 4vw), 22px);
}

body {
  color: #414042;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 4em;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-bottom: .5em;
}

strong {
  font-weight: bold;
}

p,
ul,
h1 {
  margin-bottom: 1.5em;
}

abbr[title] {
  text-decoration: none;
}

a {
  border-bottom: 2px solid #1F6B9C;
  color: #414042;
  text-decoration: none;
}

a:hover {
  border-bottom-color: #333;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: .5em;
  position: relative;
}

main {
  max-width: 60em;
}

.post {
  margin-bottom: 6em;
}

.post p {
  margin-top: 0;
}