.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo {
  animation: rainbow 30s ease infinite;
  font-weight: bold;
  letter-spacing: -.015em;
  -webkit-background-clip: text;
}

.logo:hover {
  background-image: repeating-linear-gradient(45deg,#0880f2,#1978D2,green,orange,red,#0880f2,#1978D2,green,orange,red);
  background-size: 800% 800%;
  color: transparent;
}

.list {
    margin: 0;
    padding: 0;
  }

 .list li {
    display: inline-block;
    margin-right: 1vw;
  }

 @keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0 50%;
  }
 } 
