.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo {
    border: 0;
    font-weight: bold;
}

.logo:hover {
  color: #1978D2;
}

.list {
    margin: 0;
    padding: 0;
  }

 .list li {
    display: inline-block;
    margin-right: 1vw;
  }