.article {
    font-size: .8125em;
}

.block {
    margin-bottom: 3em;
}

.block h1,
.block h2 {
    color: #000;
    margin: 0;
}

.feedWrap {
    max-width: 800px;
}

.headshot {
    max-width: 20%;
    border-radius: 50%;
    shape-outside: circle();
    float: left;
    margin-right: 3em;
    border: 0.2em solid rgba(5,0,5,0.25);
}

.intro {
    color: #000;
    font-size: 1.25em;
    margin: 3em 0;
}

.intro a:link {
    text-decoration-thickness: 3px;
}

.items {
    font-size: .875em;
    margin-top: .75em;
}

.metadata {
    color: #7c7c7a;
    font-size: .7125em;
    margin: .75em 0;
}

.post {
    margin-bottom: 4em;
}

.post p {
    margin-top: 0;
}
 
.postTitle {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

.ring {
    margin: 1.5em auto;
}

.ring small {
    padding: 0 .5em;
}