.article {
    font-size: .875em;
}

.block {
    margin-bottom: 3em;
}

.block h1,
.block h2 {
    color: #000;
    font-size: 1.25em;
    margin: 0;
}

.block p {
    margin-bottom: 0;
}

.intro {
    color: #000;
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 0;
}

.intro a:link {
    text-decoration-thickness: 3px;
}

.items {
    font-size: .875em;
    margin-top: .75em;
}

.metadata {
    font-size: .75em;
    margin: .75em 0;
}

.post {
    margin-bottom: 4em;
}

.post p {
    margin-top: 0;
}
 
.postTitle {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

.postTitle a:link,
.postTitle a:visited {
    color: #000;
    text-decoration: underline;
    text-decoration-color: #bbb;
}

.postTitle a:hover {
    color: #1978D2;
    text-decoration: none;
}